@charset "UTF-8";

*{margin: 0;padding: 0;}

section{
    position: relative;
    height: 100vh;
}
section .rgb{
    position: absolute;
    width: 300px; height: 200px;
    left: 400px;
    top: 200px;
}
#rgbKineticSlider canvas{
    position: absolute;
}

nav .main-nav{
    position: absolute;
    color: #fff;
    top: 50%;
}

nav .prev{
    left: 0%;
}
nav .next{
    right: 0%;
}